.editor {
  width: 100%;
  height: 100%;
  &-left,
  &-right {
    position: absolute;
    width: 270px;
    background: pink;
    top: 0;
    bottom: 0;
  }
  &-left {
    left: 0;
    &-item {
      position: relative;
      width: 250px;
      margin: 20px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      padding: 20px;
      box-sizing: border-box;
      cursor: move;
      user-select: none;
      min-height: 100px;
      >span {
        position: absolute;
        left: 0;
        top: 0;
        background: hsl(168, 88%, 49%);
        padding: 4px;
      }
      // 每个物料区蒙层，不允许操作
      // 如button点击，输入框输入内容
      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #ccc;
        opacity: .2;
      }
    }
  }
  &-right {
    right: 0;
  }
  &-top {
    position: absolute;
    right: 280px;
    left: 280px;
    height: 80px;
    background: blue;
  }
  &-container {
    padding: 80px 270px 0;
    height: 100%;
    box-sizing: border-box;
    background: orange;
    &-canvas {
      overflow: scroll;
      height: 100%;
      &__content {
        position: relative;
        margin: 20px auto;
        background: yellow;
      }
    }
  }
  .editor-block {
    position: absolute;
    // 不能被选中，响应事件等
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  .editor-block-focus {
    &::after {
      border: 1px dashed red;
    }
  }
}